<style>
body {
        background: #255682;
        background-image: none;
}
</style>

<h1>                                                                            
      <img src="/assets/images/logo.png" alt = <%= I18n.t("brand.title") %> />
      <script>
	if (window.location.href == "http://archivesspace01.mse.jhu.edu:8080/") {
		document.write("<span style=\"color:white;\">Development!</span>");
      }
      </script>
</h1>
